body {
    margin: 0;
}

.father {
    width: 1200px
}

.header1 {
    height: 30px;
    background: aqua;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    align-items: center;
    padding-right: 70px;
}

.header1__line {
    width: 30px;
    height: 4px;
    background: #4c4962;
}

.header2 {
    height: 70px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 600px;
}

.header2__button {
    width: 80px;
    height: 30px;
    background: #4c4962;
    border-radius: 10px;
}

.header2__item {
    display: flex;
    column-gap: 10px;
}

.header2__item_line2 {
    width: 60px;
    height: 4px;
    background: #4c4962;
}

.topHeader {
    box-sizing: border-box;
    height: 300px;
    background: aqua;
    padding-top: 20px;
}

.topHeader__text {
    text-align: center;
    color: #4c4962;
}

.topHeader__button {
    width: 100px;
    height: 30px;
    background: #4c4962;
    border-radius: 10px;
    margin-left: 550px;
    margin-top: 30px;
}

/*__________________________________________________________________________________________________*/
.firstContainer {
    box-sizing: border-box;
    height: 270px;
    background: lightgray;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.firstContainer__wrapper {
    width: 1000px;
    height: 235px;
    border: 2px solid aqua;
    border-radius: 10px;
    text-align: center;
}

.firstContainer__boxes {
    display: flex;
    justify-content: space-evenly;
}

.firstContainer__box {
    width: 150px;
    height: 150px;
    background: #4c4962;
    border-radius: 10px;
}

.secondContainer {
    box-sizing: border-box;
    height: 270px;
    background: #4c4962;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 50px;
}

.secondContainer__round {
    width: 150px;
    height: 150px;
    background: lightgray;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 10px;
}

.secondContainer__wrap {
    border: 2px solid aqua;
    width: 200px;
    height: 235px;
}

/*________________________________________________________________________________________________________*/
.mainContent {
    height: 1100px;
    box-sizing: border-box;
    padding: 10px;
    background: lightgray;
    text-align: center;
}

.mainContent__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 60px;
    margin-left: 100px;
    row-gap: 20px;
}

.screen {
    width: 250px;
    height: 160px;
    border-radius: 10px;
    background: #4c4962;
    margin-left: 4px;
    margin-top: 4px;
}

.wrap3 {
    width: 260px;
    height: 300px;
    border: 1px solid aqua;
    box-sizing: border-box;
    border-radius: 10px;
}

.firstLine {
    display: flex;
    margin-top: 7px;
    margin-left: 5px;
}

.text_line1 {
    display: flex;
    margin-left: 100px;
    column-gap: 10px;
}

.line_mini2 {
    width: 15px;
    height: 5px;
    background: #4c4962;
}

.secondLine {
    display: flex;
    margin-top: 15px;
    margin-left: 5px;
    column-gap: 5px;
}

.text_line2-1 {
    width: 50px;
    height: 5px;
    background: #4c4962;
}

.text_line2-2 {
    width: 70px;
    height: 5px;
    background: #4c4962;
}

.thirdLine {
    display: flex;
    margin-left: 5px;
    margin-top: 10px;
    column-gap: 5px;
}

.text_line3-1 {
    width: 55px;
    height: 5px;
    background: #4c4962;
}

.text_line3-2 {
    width: 40px;
    height: 5px;
    background: #4c4962;
}

.fourthLine {
    display: flex;
    margin-left: 5px;
    margin-top: 15px;
    column-gap: 5px;
}

.text_line4-1 {
    width: 90px;
    height: 5px;
    background: #4c4962;
}

.text_line4-2 {
    width: 20px;
    height: 5px;
    background: #4c4962;
}

.line_footer {
    width: 258px;
    height: 35px;
    border-top: 1px solid aqua;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mini_btn {
    width: 50px;
    height: 20px;
    background: #4c4962;
    border-radius: 4px;
    margin-left: 15px;
}

.mini_roundBox {
    display: flex;
    column-gap: 3px;
    margin-left: 70px;
    margin-right: 15px;
}

.mini__round {
    width: 20px;
    height: 20px;
    background: #4c4962;
    border-radius: 50%;
}

/*___________________________________________________________________________________________*/
.mainContentBottom {
    display: flex;
    margin-top: 100px;
}

.mainContentBottom__left {
    box-sizing: border-box;
    width: 450px;
    height: 250px;
    background: #4c4962;
    color: aqua;
    padding: 50px;
}

.mainContentBottom__left_lines {
    display: flex;
    column-gap: 10px;
}

.mainContentBottom__left_line1 {
    width: 50px;
    height: 7px;
    background: aqua;
    border-radius: 10px;
}

.mainContentBottom__left_line2 {
    width: 80px;
    height: 7px;
    background: aqua;
    border-radius: 10px;
}

.mainContentBottom__left_text {
    text-align: justify;
}

.mainContentBottom__left_button {
    width: 100px;
    height: 40px;
    background: aqua;
    border-radius: 10px;
}

.mainContentBottom__right {
    box-sizing: border-box;
    width: 450px;
    height: 250px;
    background: aqua;
    color: #4c4962;
    padding: 50px;
}

.mainContentBottom__right_lines {
    display: flex;
    column-gap: 10px;
}

.mainContentBottom__right_line1 {
    width: 50px;
    height: 7px;
    background: #4c4962;
    border-radius: 10px;
}

.mainContentBottom__right_line2 {
    width: 80px;
    height: 7px;
    background: #4c4962;
    border-radius: 10px;
}

.mainContentBottom__right_text {
    text-align: justify;
}

.mainContentBottom__right_button {
    width: 100px;
    height: 40px;
    background: #4c4962;
    border-radius: 10px;
}

/*____________________________________________________________________________________________*/
.footer {
    height: 100px;
    background: #4c4962;
    padding: 30px;
    box-sizing: border-box;
}

.footer__mini {
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 10px;
}

.mini {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: lightgray;
}

.footer__bottomLine {
    width: 200px;
    height: 1px;
    background: aqua;
    margin-left: 470px;
    margin-top: 10px;
}